* {
    margin-top: 0.2em;
}

.help-block {
    font-weight: bold;
    color: red;
}

#center {
    justify-content: center;
    // text-align: center !important;
}

// button {
//     display: flex!important;
//     justify-content: center!important;
// }

// .modal-footer {
//     border-bottom: none!important;
// }

// .modal-open {
//     text-align: center!important;
// }