<div class="modal-content">
    <div class="modal-header" id="center">

        <button  mdbBtn type="button" color="danger" outline="true" mdbWavesEffect (click)="onSwitchMode()">
            <h4 class="modal-title w-100 font-weight-bold">Switch to {{ isLoginPage ? 'Sign Up' : 'Login' }}</h4><i *ngIf="isLoginPage" class="fas fa-address-card ml-1"></i><i *ngIf="!isLoginPage" class="fas fa-sign-in-alt"></i>
        </button>

    </div>

    <!-- OUR CODE -->
    <form [formGroup]="validatingForm" (ngSubmit)="onSubmit()">
    <!-- MDB CODE -->
    <div class="modal-body mx-3">
        
        <!-- SignUp Details -->
        <div *ngIf="!isLoginPage">

            <div class="md-form mb-5">
                <div class="form-group">
                    <label for="name"><i class="fas fa-signature mr-2"></i>First Name</label>
                    <input 
                        type="text" 
                        id="firstName" 
                        class="form-control" 
                        mdbInput 
                        mdbValidate
                        [formControl]="firstName">
                </div>

                <div class="md-form mb-5">
                    
                    <div class="form-group">
                        <label for="name"><i class="fas fa-signature mr-2"></i>Last Name</label>                
                        <input 
                            type="text" 
                            id="lastName" 
                            class="form-control" 
                            mdbInput 
                            mdbValidate
                            [formControl]="lastName">
                    </div>
                </div>

                <div class="md-form mb-5">
                    <div class="form-group">
                        <input 
                        type="text" 
                        id="defaultForm-username" 
                        [formControl]="userName"
                        class="form-control" 
                        mdbInput 
                        mdbValidate>
                        <label for="defaultForm-username"><mdb-icon fas icon="user-alt mr-2"></mdb-icon>Username</label>
                    </div>
                </div>
            </div>    
        </div>

            <!-- LogIn -->
            
            <div class="md-form mb-5">
                <div class="form-group">
                    <input 
                        type="email" 
                        id="defaultForm-email" 
                        [formControl]="email"
                        class="form-control" 
                        mdbInput 
                        mdbValidate
                        oninput="this.value = this.value.toLowerCase()">
                    <label for="defaultForm-email"><mdb-icon fas icon="envelope mr-2"></mdb-icon>Your email</label>            
                    <mdb-error
                        *ngIf="!email.valid && (email.dirty || email.touched)">
                        Input invalid
                    </mdb-error>
                    <mdb-success
                        *ngIf="email.valid && (email.dirty || email.touched)">Input
                        valid
                    </mdb-success>
                </div>
            </div>
        
            <div class="form-group">
            <div class="md-form mb-4">
                <input 
                    type="password" 
                    id="defaultForm-pass" 
                    [formControl]="password" 
                    class="form-control"
                    mdbInput 
                    mdbValidate 
                    >
                <label for="defaultForm-pass"><mdb-icon fas icon="lock mr-2"></mdb-icon>Your password</label>
                <mdb-error
                    *ngIf="password.invalid && (password.dirty || password.touched)">
                    Password must be 6 characters long
                </mdb-error>
                <mdb-success
                    *ngIf="password.valid && (password.dirty || password.touched)">
                    Input valid
                </mdb-success>
            </div>
        </div>
    </div>
    <div class="modal-footer d-flex justify-content-center">
        
            <button mdbBtn color="danger" type="submit" [disabled]="!validatingForm.valid" outline="true" mdbWavesEffect>{{ isLoginPage ? 'Login' : 'Sign Up' }}</button>
                    
    </div>
    </form>
</div>
