<!-- Footer -->
<footer class="page-footer-dark font-small red accent-3">

    <!-- Copyright -->
    <div class="footer-copyright text-center text-white py-3">
        <div>© 2019 Copyright: Critical Hits &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Contact us at crithits@protonmail.com &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Icons made by <a href="https://www.flaticon.com/authors/itim2101" title="itim2101">itim2101</a> and <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    </div>
    <!-- Copyright -->
    
</footer>
<!-- Footer -->