<app-navbar></app-navbar>

<input   [(ngModel)]="value1"  name="value1" type="text" (ngModelChange)="searchPerson(value1)" placeholder="Search for names..">


<div class="container">
    
<div class= "row">

<div  class="col-md-4" *ngFor="let result of results">

        <div>
            <div><b>User Name:</b> {{result.userName}}</div>
            <div><b>First Name:</b> {{result.firstName}}</div>
            <div><b>Last Name:</b> {{result.lastName}}</div>
                <div> <b>Email:</b> {{result.email}}</div>

        <button type="button" mdbBtn color="danger" class="relative waves-light" (click)="basicModal.show()"
        mdbWavesEffect>Edit User</button>

        <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
        aria-labelledby="myBasicModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                <span aria-hidden="true">×</span>
              </button>
              <p class="modal-title w-100" id="myModalLabel">Edit User
            </div>
            <div class="modal-body">


    <div>

</div>
<div>
 <label>User Name: </label>
        <input #userName type="text" 
                value= {{result.userName}}>
</div>              
<div>
<label>Last Name: </label>
      <input #lastName type="text"
                 value= {{result.lastName}}>
</div>   
<div>
<label>First Name: </label>
        <input #firstName type="text"
                         value= {{result.firstName}}>
    </div>                                 
    <div>
<label >Email: </label>
        <input #email type="text"
                   value= {{result.email}}>
    </div>        

<!-- <mdb-checkbox #banned [default]="true">is banned</mdb-checkbox> -->

<div *ngIf = "result.admin">
    <input  type="checkbox"  (click)='setAdmin(false, result.id)' checked/> is admin
    </div>
    
    <div *ngIf = "!result.admin">
        <input  type="checkbox"  (click)='setAdmin(true, result.id)' /> is admin
        </div>


<div *ngIf = "result.banned">
<input  type="checkbox"  (click)='setBanned(false, result.id)' checked/> is banned
</div>

<div *ngIf = "!result.banned">
    <input  type="checkbox"  (click)='setBanned(true, result.id)' /> is banned
    </div>

    <button type="button" mdbBtn color="danger" class="relative waves-light"    (click)='adminPut(firstName.value, lastName.value, userName.value, result.admin, result.banned, result.id, email.value)' mdbWavesEffect (click)="basicModal.hide()">PUT</button>

    <button type="button" mdbBtn color="danger" class="relative waves-light"    (click)='adminDelete(result.id)' mdbWavesEffect (click)="basicModal.hide()">DELETE</button>

    <button type="button" mdbBtn color="danger" class="relative waves-light"    (click)='adminExpunge(result.id)' mdbWavesEffect (click)="basicModal.hide()">EXPUNGE</button>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

