<app-navbar></app-navbar>


<div *ngFor="let result of results">
    <div>
    {{ result.userName }}
    {{result.email}}
</div>
<div>
 <label>userName</label>
        <input #userName type="text" 
                value= {{result.userName}}>
</div>              
<div>
<label>lastName</label>
      <input #lastName type="text"
                 value= {{result.lastName}}>
</div>   
<div>
<label>fiNrstame</label>
        <input #firstName type="text"
                         value= {{result.firstName}}>
    </div>                                 
    <div>
<label >Email</label>
        <input #Email type="text"
                   value= {{result.email}}>
    </div>        

<!-- <mdb-checkbox #banned [default]="true">is banned</mdb-checkbox> -->

<mdb-checkbox #admin  [default]="true">is admin</mdb-checkbox>

<div *ngIf = "result.banned">
<input #banned type="checkbox" value = result.banned checked/> is banned
</div>
<div *ngIf = "!result.banned">
        <input #banned type="checkbox" value = result.banned/> is banned
        </div>
    <button type="button" mdbBtn color="primary" class="relative waves-light"    (click)='adminPut(firstName.value, lastName.value, userName.value, false, banned.value, result.id)' mdbWavesEffect>PUT</button>
</div>





