.breadcrumb-item.active {
    color: red!important;
}

mdb-breadcrumb-item.breadcrumb-item::before {
    color: transparent;
}

.game-name {
    letter-spacing: 0.1em;
    font-size: 2.6em;
    /* margin: 1em; */
    text-align: right;
    padding-right: 1em;
    
}

.game-header {
    border-bottom: solid 1px #e9ecef;
    margin-bottom: 2em;
    margin-top: 2em;
}

.card:hover {
    cursor: pointer;
    // opacity: 0.5;
    background-color: #e9ecef;
    transition: 200ms ease;
}

// .card-body:hover > p {
//     opacity: 0.5;
// }

// .card-body:hover > p:hover {
//     opacity: 1;
// }

