<!-- <mdb-breadcrumb customClass="black-text blue-grey lighten-4">
    <mdb-breadcrumb-item>
      <mdb-icon fas icon="angle-double-right" class="mr-1"></mdb-icon> Home
    </mdb-breadcrumb-item>
    <mdb-breadcrumb-item>
      <mdb-icon fas icon="angle-double-right" class="mr-1"></mdb-icon> Forums
    </mdb-breadcrumb-item>
</mdb-breadcrumb> -->

<nav aria-label="breadcrumb">
    <ol class="breadcrumb blue-grey lighten-4">
      <li class="breadcrumb-item"><a class="black-text" href="#">Home</a><i
          class="fas fa-angle-double-right mx-2" aria-hidden="true"></i></li>
      <li class="breadcrumb-item"><a class="black-text" routerLink="forum/11195">Forums</a><i
          class="fas fa-angle-double-right mx-2" aria-hidden="true"></i></li>
    </ol>
</nav>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Dev Announcements</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <h1>Picture</h1>
        </div>
        <div class="col-10">
            <div class="row">
                <h5>News and Info</h5>
            </div>
            <div class="row">
                <p>Blurb about Announcements</p>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <h1>Community</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <h1>Picture</h1>
        </div>
        <div class="col-10">
            <div class="row">
                <h5><a routerLink="generalDiscussion">General Discussion</a></h5>
            </div>
            <div class="row">
                <p>Blurb about discussion</p>
            </div>
        </div>
        <div class="col-2">
            <h1>Picture</h1>
        </div>
        <div class="col-10">
            <div class="row">
                <h5>Walkthroughs</h5>
            </div>
            <div class="row">
                <p>Blurb about Walkthroughs</p>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>