<app-navbar></app-navbar>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Forum</li>
        <li class="breadcrumb-item active" aria-current="page">{{ value }}</li>
    </ol>
</nav>

<div class="container">
    <div class="row game-header">
        <h1 class="game-name col">{{value.toUpperCase()}}</h1>
    </div>

    <div class="row" style="margin-bottom: 4rem">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button mdbBtn type="button" color="danger" class="waves-light" mdbWavesEffect routerLink="/review/{{gameid}}/{{value}}">Reviews</button>
            <button mdbBtn type="button" [disabled]="true" color="danger" class="waves-light" mdbWavesEffect>Forums</button>
        </div>
    </div>

    <mdb-card>
        <!--Card image-->
        <mdb-card-img src="" alt=""></mdb-card-img>
        <!--Card content-->
        <mdb-card-body>
      
            <!--Title-->
            <mdb-card-title>
                <h1>Dev Announcements</h1>
            </mdb-card-title>
        
            <!--Text-->
            <p>News and Info.</p>
            
            <p>Blurb about Announcements.</p>
        
        </mdb-card-body>
    </mdb-card>

    <hr>

    <mdb-card routerLink="General Discussion">
        <div class="row">
            <div class="col-2">
                <!--Card image-->
                <mdb-card-img src="../../../../assets/GameController.png" alt="game controller"></mdb-card-img>
            </div>
            <!--Card content-->
            <mdb-card-body>
          
              <!--Title-->
                <mdb-card-title>
                    <h1>General Discussion</h1>
                </mdb-card-title>
          
              <!--Text-->
              <p class="font-size"> Discuss {{ value }} with other gamers!</p>

            </mdb-card-body>
        </div>
    </mdb-card>

    <hr>

    <mdb-card routerLink="Walkthroughs">
        <div class="row">
            <div class="col-2">
                <!--Card image-->
                <mdb-card-img src="../../../../assets/GameGuide.png" alt="GameGuide"></mdb-card-img>
            </div>
            <!--Card content-->
            <mdb-card-body>
          
              <!--Title-->
              <mdb-card-title>
                <h1>Walkthroughs & Guides</h1>
              </mdb-card-title>
          
              <!--Text-->
              <p>Discuss Walkthroughs & Guides about {{ value }}!</p>

            </mdb-card-body>
        </div>
    </mdb-card>

    <hr>

    <mdb-card routerLink="Bugs & Glitches">
        <div class="row">
            <div class="col-2">
                <!--Card image-->
                <mdb-card-img src="../../../../assets/bug.png" alt="Bugs"></mdb-card-img>
            </div>
            <!--Card content-->
            <mdb-card-body>
          
              <!--Title-->
              <mdb-card-title>
                <h1>Bugs and Glitches</h1>
              </mdb-card-title>
          
              <!--Text-->
              <p>Found a bug relating to {{ value }}? Report it here!!</p>
              
              <p></p>

            </mdb-card-body>
        </div>
    </mdb-card>

    <hr>
        
</div>

<router-outlet></router-outlet>