<app-navbar></app-navbar>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Forum</li>
    </ol>
</nav>

<div class="container">
    <div class="row game-header">
        <h1 class="game-name col">{{value.toUpperCase()}}</h1>
    </div>

    <div class="row" style="margin-bottom: 4rem">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button mdbBtn type="button" color="primary" class="waves-light" mdbWavesEffect routerLink="/review/{{gameid}}/{{value}}">Reviews</button>
            <button mdbBtn type="button" [disabled]="true" color="primary" class="waves-light" mdbWavesEffect>Forums</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h1>Dev Announcements</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <h1>Picture</h1>
        </div>
        <div class="col-10">
            <div class="row">
                <h5>News and Info</h5>
            </div>
            <div class="row">
                <p>Blurb about Announcements</p>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <h1>Community</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <h1>Picture</h1>
        </div>

        <div class="col-10">
            <div class="row">
                <h5><a routerLink="GeneralDiscussion">General Discussion</a></h5>
            </div>
            <div class="row">
                <p>Discuss {{ value }} with other gamers!</p>
            </div>
        </div>

        <div class="col-2">
            <h1>Picture</h1>
        </div>
        <div class="col-10">
            <div class="row">
                <h5><a routerLink="Walkthroughs">Walkthroughs</a></h5>
            </div>
            <div class="row">
                <p>Discuss walkthroughs about {{ value }}!</p>
            </div>
        </div>

        <div class="col-2">
            <h1>Picture</h1>
        </div>
        <div class="col-10">
            <div class="row">
                <h5><a routerLink="Bugs&Glitches">Bugs and Glitches</a></h5>
            </div>
            <div class="row">
                <p>Found a bug? Report it here!</p>
            </div>
        </div>

    </div>
</div>

<router-outlet></router-outlet>