.game-name{
    letter-spacing: 0.1em;
    font-size: 2em;
    margin: 2em;
    text-align: center;
}

/* vertical space between game-info rows */
.game-info>.row{
    margin-top: 1em;
}

/* horizontal space between each game-info tag */
.game-tag{
    margin-left: 1em;
}

.game-summary{
    margin-top: 4em;
}