<p>id is {{gameid}}</p>


<!-- {{results[0].name}}

{{results[0].platforms[0].abbreviation}}
{{results[0].genres[0].name}}
{{results[0].release_dates[0].human}} -->
<!-- {{imgUrlPrefix + results[0].artworks[0].image_id + '.jpg' (edited) }} -->




<!-- <button type="button"  (click)='searchGetAll(gameid)'>Search
    Game Review</button> -->

<h4>score  (needs to be integer)</h4>
    <input #score id="search-box"  />
    <h4>headline</h4>
    <input #headline id="search-box" />
    <h4>pros</h4>
    <input #pros id="search-box" />
    <h4>cons</h4>
    <input #cons id="search-box"  />
    <h4>textArea</h4>
    <input #textArea id="search-box"  />
    
    <button type="button"  (click)='searchPost( gameid, score.value, 1, headline.value, pros.value, cons.value, textArea.value)'>
       POST</button>

    <button type="button"  (click)='searchPut( gameid, score.value, 1, headline.value, pros.value, cons.value, textArea.value)'>
        PUT</button>

    <button type="button"  (click)='searchDelete( gameid, score.value, 1, headline.value, pros.value, cons.value, textArea.value)'>
        DELETE</button>

       <a routerLink='/forum'>forum</a>



       <mdb-card class="indigo lighten-5">
        <mdb-card-body>
      
          <div class="d-flex justify-content-center align-items-center my-4">
            <span class="font-weight-bold indigo-text mr-2">{{min}}</span>
            <form class="my-3 w-25">y
              <input type="range" id="range" [min]="min" value="50" [max]="max">
            </form>
            <span class="font-weight-bold indigo-text ml-2">{{max}}</span>
          </div>
    
      
        </mdb-card-body>
      </mdb-card>
    