<!-- <p>id is {{gameid}}</p>


{{results[0].name}}

{{results[0].platforms[0].abbreviation}}
{{results[0].genres[0].name}}
{{results[0].release_dates[0].human}}
{{imgUrlPrefix + results[0].artworks[0].image_id + '.jpg' (edited) }}



 <button type="button"  (click)='searchGetAll(gameid)'>Search
    Game Review</button>

<h4>score  (needs to be integer)</h4>
    <input #score id="search-box"  />
    <h4>headline</h4>
    <input #headline id="search-box" />
    <h4>pros</h4>
    <input #pros id="search-box" />
    <h4>cons</h4>
    <input #cons id="search-box"  />
    <h4>textArea</h4>
    <input #textArea id="search-box"  />
    
    <button type="button"  (click)='searchPost( gameid, score.value, 1, headline.value, pros.value, cons.value, textArea.value)'>
       POST</button>

    <button type="button"  (click)='searchPut( gameid, score.value, 1, headline.value, pros.value, cons.value, textArea.value)'>
        PUT</button>

    <button type="button"  (click)='searchDelete( gameid, score.value, 1, headline.value, pros.value, cons.value, textArea.value)'>
        DELETE</button>

       <a routerLink='/forum'>forum</a>
     -->



     
     <!-- NEW CODE BELOW -->

<!-- <div class="container">
  <ngb-tabset>

    <ngb-tab title="Artwork">
      <ng-template ngbTabContent>

        <ngb-carousel>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img [src]="images[0]" alt="Random first slide">
            </div>
            <div class="carousel-caption">
              <h3>First slide label</h3>
              <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img [src]="images[1]" alt="Random second slide">
            </div>
            <div class="carousel-caption">
              <h3>Second slide label</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img [src]="images[2]" alt="Random third slide">
            </div>
            <div class="carousel-caption">
              <h3>Third slide label</h3>
              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
          </ng-template>
        </ngb-carousel>

      </ng-template>
    </ngb-tab>

    <ngb-tab title="Screenshots">
      <ng-template ngbTabContent>

      </ng-template>
    </ngb-tab>

  </ngb-tabset>
</div> -->
