.rating-buttons>*{
    padding:1.8em;
    margin: 1px;
}

.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

/* ::-webkit-scrollbar {
    visibility: hidden;
  } */
.game-name{
    letter-spacing: 0.1em;
    font-size: 2.5em;
    margin: 1em;
    text-align: center;
}

/* vertical space between game-info rows */
.game-info>.row{
    margin-top: 2em;
    margin-bottom: 1em;
}

/* horizontal space between each game-info tag */
.game-tag{
    margin-left: 1em;
    font-size: 1.3em;
}

.game-summary{
    margin-top: 2em;
    padding-top: 2em;
    border-top: solid 1px #e9ecef;
    font-size: 1.1em;
}

.media-buttons{
    margin-top: -0.4em;
}