<h1 class="splash jumbotron">GAMES THING</h1>

<!-- <div class="SEARCH input-group mb-3 row col-xl-5 col-lg-6 col-md-7 col-sm-8 col-10 mx-auto">
  <input [(ngModel)]="query" type="text" class="form-control" placeholder="ex: Super Metroid"
    aria-label="ex: Super Metroid" aria-describedby="basic-addon2" (keyup.enter)='onEnter(query)'>
  <div class="input-group-append">
      <button routerLink="/search/{{query}}" (click)='search2(query)' type="button" mdbBtn color="primary" mdbWavesEffect>Primary</button>
  </div>
</div> -->
<div class="container">
  <form class="form-inline md-form mr-auto mb-4 row col-10 col-md-8 mx-auto">
    <input [ngModelOptions]="{standalone: true}" [(ngModel)]="query" class="form-control mr-sm-2 col" type="text" placeholder="ex: Super Metroid" aria-label="ex: Super Metroid">
    <button routerLink="/search/{{query}}" (click)='search2(query, offset)' routerLinkActive="active" mdbBtn size="md" gradient="aqua" rounded="true" class="my-0 waves-light" mdbWavesEffect type="submit">Search Games</button>
  </form>
</div>



<div *ngIf="searching" class="row mx-auto col-1 justify-content-center">
  <div class="spinner-border search-spinner" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div class="container" *ngIf='results.length > 0'>

  <nav aria-label="Page navigation example">
    <ul class="pagination pg-blue justify-content-center col">
      <li [className]="offset <= 0 ? 'page-item disabled' : 'page-item'">
        <a class="page-link" tabindex="-1" mdbWavesEffect (click)="prevPage()">Previous</a>
      </li>
      <!-- <li class="page-item"><a class="page-link" mdbWavesEffect>1</a></li>
      <li class="page-item"><a class="page-link" mdbWavesEffect>2</a></li>
      <li class="page-item"><a class="page-link" mdbWavesEffect>3</a></li> -->
      <li [className]="offset >= 150 || results.length != 50 ? 'page-item disabled' : 'page-item'">
        <a class="page-link" mdbWavesEffect (click)="nextPage()">Next</a>
      </li>
    </ul>
  </nav>

  <p class="justify-content-center col">Displaying results {{offset + 1}}-{{offset + results.length}}</p>

  <div *ngFor="let result of results">
    <a routerLink="/review/{{ result.id }}" routerLinkActive="active" class="row result">
      <img class='img-thumbnail result-image' src='{{result.cover ? result.cover.url : "no-image.png"}}' />
      <p class='col-4 result-title'>{{ result.name }}</p>
      <div class="col">
        <div class="row">
          <b>Original Release Date:</b>
          <div class='result-tag'>
            {{ result.release_dates ? result.release_dates[0].human : 'N/A' }}
          </div>
        </div>
        <div class="row">
          <b>Genres:</b>
          <div class='result-tag' *ngFor='let genre of result.genres'>
            {{ genre.name == 'Platform' ? 'Platformer' : genre.name }}</div>
        </div>
        <div class="row">
          <b>Platforms:</b>
          <div class='result-tag' *ngFor='let platform of result.platforms'>{{ platform.abbreviation }}</div>
        </div>
      </div>
      <div class="col-2 text-right">
        <div style="z-index: 1300" class="btn-group-vertical" role="group" aria-label="Vertical button group">
          <a routerLink="/review/{{ result.id }}#reviews">
            <button  mdbBtn type="button" color="primary" class="waves-light" mdbWavesEffect>Reviews</button>
          </a>
          <a routerLink="/forum/{{ result.id }}">
            <button mdbBtn type="button" color="primary" class="waves-light" outline="true" mdbWavesEffect>Forums</button>
          </a>
        </div>
      </div>
    </a>
  </div>

  <!-- <p class="justify-content-center col">Displaying results {{offset + 1}}-{{offset + results.length}}</p> -->

  <br/>
  <nav aria-label="Page navigation example">
      <ul class="pagination pg-blue justify-content-center col">
        <li [className]="offset <= 0 ? 'page-item disabled' : 'page-item'">
          <a class="page-link" tabindex="-1" mdbWavesEffect (click)="prevPage()">Previous</a>
        </li>
        <!-- <li class="page-item"><a class="page-link" mdbWavesEffect>1</a></li>
        <li class="page-item"><a class="page-link" mdbWavesEffect>2</a></li>
        <li class="page-item"><a class="page-link" mdbWavesEffect>3</a></li> -->
        <li [className]="offset >= 150 || results.length != 50 ? 'page-item disabled' : 'page-item'">
          <a class="page-link" mdbWavesEffect (click)="nextPage()">Next</a>
        </li>
      </ul>
    </nav>
    
</div>
<br/>
<br/>
