<app-navbar></app-navbar>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Forum</li>
        <li class="breadcrumb-item">
                <a routerLink="/forumTopic/{{gameid}}/{{value}}" routerLinkActive="active">
            {{ value }}</a></li>
        <li class="breadcrumb-item"> <a routerLink="/forumTopic/{{gameid}}/{{value}}/{{category}}" routerLinkActive="active">
            {{ category }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Replies</li>
    </ol>
</nav>

<div class="container">
    <br/>
    <br/>
    <h1>{{topic.topic}}</h1>
    <hr>
    <nav aria-label="Page navigation example">
        <ul class="pagination pg-blue">
            <li class="page-item"><a class="page-link" mdbWavesEffect>Previous</a></li>
            <li class="page-item"><a class="page-link" mdbWavesEffect>1</a></li>
            <li class="page-item"><a class="page-link" mdbWavesEffect>2</a></li>
            <li class="page-item"><a class="page-link" mdbWavesEffect>3</a></li>
            <li class="page-item"><a class="page-link" mdbWavesEffect>Next</a></li>
            
            <!-- NEW REPLY MODAL -->
            <div mdbModal #replyModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myReplyModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close pull-right" aria-label="Close" (click)="replyModal.hide()">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title w-100" id="myModalLabel">Create New Reply</h4>
                        </div>
                        <div class="modal-body">
                            <!-- INPUT HERE -->
                            
                            <div class="md-form">
                                <mdb-icon fas icon="pencil-alt" class="prefix grey-text"></mdb-icon>
                                <textarea #newTextArea type="text" id="form8" class="md-textarea md-textarea-auto form-control" rows="3" mdbInput
                                mdbValidate></textarea>
                                <label for="form8">What is your response?</label>
                            </div>
                            
                            <!-- INPUT HERE -->
                        </div>
                        <div class="modal-footer">
                            <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="replyModal.hide()" mdbWavesEffect>Close</button>
                            <button type="button" mdbBtn color="danger" class="relative waves-light" (click)="createReply(newTextArea.value); replyModal.hide()" mdbWavesEffect>Submit</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- EDIT MODAL -->
            <div mdbModal #editModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myEditModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document" >
                    <div class="modal-content">

                        <div class="modal-header">
                            <button type="button" class="close pull-right" aria-label="Close" (click)="editModal.hide()">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title w-100" id="myModalLabel">Edit Response</h4>
                        </div>

                        <div class="modal-body">
                            <!-- INPUT HERE -->
                            
                            <div class="md-form">
                                <mdb-icon fas icon="pencil-alt" class="prefix grey-text"></mdb-icon>
                                <textarea #editTextArea type="text" id="form8" class="md-textarea md-textarea-auto form-control" rows="3" mdbInput
                                mdbValidate></textarea>
                                <label for="form8">Edit Text Area</label>
                            </div>
                            
                            <!-- INPUT HERE -->
                        </div>

                        <div class="modal-footer"> 
                            <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="editModal.hide()" mdbWavesEffect>Close</button>
                            <button type="button" mdbBtn color="danger" class="relative waves-light" (click)="editReply(replyId, editTextArea.value); editModal.hide()" mdbWavesEffect>Save Changes</button>
                            <!-- FIX THIS CLICK -->
                        </div>
                    </div>
                </div>
            </div>

            <!-- ORIGINAL POSTER EDIT MODAL -->
            <div mdbModal #originalPostModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myOriginalPostModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close pull-right" aria-label="Close" (click)="originalPostModal.hide()">
                      <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title w-100" id="myModalLabel">Edit Original Post</h4>
                  </div>
                  <div class="modal-body">
                    <div class="md-form">
                        <mdb-icon fas icon="pencil-alt" class="prefix grey-text"></mdb-icon>
                        <textarea #textArea type="text" id="form8" class="md-textarea md-textarea-auto form-control" rows="3" mdbInput
                          mdbValidate></textarea>
                        <label for="form8">Edit Text Area</label>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="originalPostModal.hide()" mdbWavesEffect>Close</button>
                    <button type="button" mdbBtn color="danger" class="relative waves-light" mdbWavesEffect (click)="editOriginal(topic.id, textArea.value); originalPostModal.hide()">Save Changes</button>
                  </div>
                </div>
              </div>
            </div>
        </ul>
    </nav>
    
    <div class="text-center">
        <div *ngIf="currentUser == null">
            <button type="button" mdbBtn color="danger" class="relative waves-light" (click)="openModal()" mdbWavesEffect>New Reply</button>
        </div>
        
        <div *ngIf="currentUser !== null">
            <button type="button" mdbBtn color="danger" class="relative waves-light" (click)="replyModal.show()" mdbWavesEffect>New Reply</button>
        </div>
    </div>
    
    <!-- ORIGINAL USER -->
    <mdb-card class="op">
        <mdb-card-body>
            <mdb-card-text>
                <div *ngIf="topic.pinned" class="row"><i class="col fas fa-thumbtack" style="margin-bottom: 1rem"></i></div>
                <div class="row">
                    <!-- <p class="col-6 text-left">{{topic.updatedAt | date:'MM/dd/yyyy - h:mm:ss a'}}</p> -->
                    <!-- <p class="col-6 text-left">{{topic.updatedAt | date:'short' }}</p> -->
                    <!-- <p class="col-6 text-left">{{topic.updatedAt | date:'medium' }}</p> -->
                    <p class="col-6 text-left">{{(topic.createdAt != topic.updatedAt ? 'Edited: ' : '') + (topic.updatedAt | date:'long') }}</p>
                    <p class="col-6 text-right">Original Post</p>
                </div>
                <div class="row">
                    <p class="post-user col-6">{{topic.userName}}</p>
                    <div *ngIf="currentUser" class="col-6 text-right">
                        <button *ngIf="topic.ownerId === userId && currentUser" type="button" size="sm" mdbBtn color="danger" class="relative waves-light" mdbWavesEffect (click)="originalPostModal.show()">Edit</button>
                        <button *ngIf="currentUser.token.user.admin && !topic.pinned" type="button" size="sm" mdbBtn color="danger" class="relative waves-light" (click)="isPinned(topic.id, true)" mdbWavesEffect>Pin</button>
                        <button *ngIf="currentUser.token.user.admin && topic.pinned" type="button" size="sm" mdbBtn color="danger" class="relative waves-light" (click)="isPinned(topic.id, false)" mdbWavesEffect>Unpin</button>
                    </div>
                </div>
            </mdb-card-text>
            <mdb-card-title>
                {{topic.textArea}}
            </mdb-card-title>
        </mdb-card-body>
    </mdb-card>
        
    <mdb-card class="reply" *ngFor="let reply of replyResults; let i = index" [attr.data-index]="i">
            <mdb-card-body>
                    <mdb-card-text>
                        <div class="row">
                            <p class="col-6 text-left">{{reply.updatedAt | date:'long'}}</p>
                            <p class="col-6 text-right">{{i + 1}}</p>
                        </div>
                        <div class="row">
                            <p class="post-user col-4">{{reply.userName}}</p>
                            <div class="col-8 text-right">

                            <!-- <div *ngIf="!currentUser"  >
                                <button *ngIf="reply.ownerId == userId " type="button" mdbBtn color="danger" class="relative waves-light" (click)="editModal.show(); replyId = reply.id" mdbWavesEffect>Edit</button>
                                <button *ngIf="reply.ownerId == userId " type="button" mdbBtn color="secondary" class="relative waves-light" (click)="deleteReply(query, category, topicId, reply.id); editModal.hide()" mdbWavesEffect>Delete</button>
                            </div> -->
                            
                            <div *ngIf="currentUser">
                                <!-- USER EDIT REPLY -->
                                <button  *ngIf="reply.ownerId == userId && !currentUser.token.user.admin " type="button" size="sm" mdbBtn color="danger" class="relative waves-light" (click)="editModal.show(); replyId = reply.id" mdbWavesEffect>Edit</button>
                                <!-- USER DELETE REPLY -->
                                <button  *ngIf="reply.ownerId == userId && !currentUser.token.user.admin " type="button" size="sm" mdbBtn color="secondary" class="relative waves-light" (click)="deleteReply(reply.id); editModal.hide()" mdbWavesEffect>Delete</button>
                            </div>

                            
                            <div *ngIf="currentUser" >
                                <!-- ADMIN EDIT REPLY -->
                                <button *ngIf="currentUser.token.user.admin" type="button" size="sm" mdbBtn color="danger" class="relative waves-light" (click)="editModal.show(); replyId = reply.id" mdbWavesEffect>Edit</button>
                                <!-- ADMIN DELETE REPLY -->
                                <button *ngIf="currentUser.token.user.admin" type="button" size="sm" mdbBtn color="secondary" class="relative waves-light" (click)="deleteReply(reply.id); editModal.hide()" mdbWavesEffect>Delete</button>
                            </div>
                        </div>
                        </div>
                    </mdb-card-text>
                    <mdb-card-title>
                        {{reply.textArea}}
                    </mdb-card-title>
                </mdb-card-body>
            </mdb-card>
</div>

<div class="text-center">
    <div *ngIf="currentUser == null">
        <button type="button" mdbBtn color="danger" class="relative waves-light" (click)="openModal()" mdbWavesEffect>New Reply</button>
    </div>
    
    <div *ngIf="currentUser !== null">
        <button type="button" mdbBtn color="danger" class="relative waves-light" (click)="replyModal.show()" mdbWavesEffect>New Reply</button>
    </div>
</div>

<br/>
<br/>