.breadcrumb-item.active {
    color: red!important;
}

mdb-breadcrumb-item.breadcrumb-item::before {
    color: transparent;
}

.op {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.reply {
    margin-bottom: 2rem;
}

// .post-num, .post-date {
//     color: gray;
// }

.post-user {
    font-size: 1.3rem;
}
