<app-navbar></app-navbar>

<mdb-breadcrumb customClass="black-text blue-grey lighten-4">
    <mdb-breadcrumb-item>
        <mdb-icon fas icon="angle-double-right" class="mr-1"></mdb-icon>Home
    </mdb-breadcrumb-item>
    <mdb-breadcrumb-item>
        <mdb-icon fas icon="angle-double-right" class="mr-1" ></mdb-icon>Forums
    </mdb-breadcrumb-item>
    <mdb-breadcrumb-item>
        <mdb-icon fas icon="angle-double-right" class="mr-1"></mdb-icon>General Discussion
    </mdb-breadcrumb-item>
    <mdb-breadcrumb-item class="active">
        <mdb-icon fas icon="angle-double-right" class="mr-1"></mdb-icon>Topic Name
    </mdb-breadcrumb-item>
</mdb-breadcrumb>

<div class="container" *ngFor="let topicResult of topicResults">
    <div class="row" *ngIf="topicResult.id == topicId">
        <h1>{{ topic.topic }}</h1>
    </div>
</div>
<hr>
<nav aria-label="Page navigation example">
<ul class="pagination pg-blue">
    <li class="page-item"><a class="page-link" mdbWavesEffect>Previous</a></li>
    <li class="page-item"><a class="page-link" mdbWavesEffect>1</a></li>
    <li class="page-item"><a class="page-link" mdbWavesEffect>2</a></li>
    <li class="page-item"><a class="page-link" mdbWavesEffect>3</a></li>
    <li class="page-item"><a class="page-link" mdbWavesEffect>Next</a></li>
    
    <!-- Modal -->
    <button>New Reply</button>
</ul>
</nav>
    
<hr>

<div class="container">
    <div class="row">
        <!-- COL ADD UP TO 12 -->
        <div id="aboutMe" class="col-sm-12">
            <h3>{{ topic.userName }}</h3>
        </div>
        <!-- <div class="col-sm-4" id="picOfMe">
            <p>Side Info (stretch goal)</p>
        </div> -->
        <div class="aboutSection col-sm-8">
            <div class="row-sm">
                <p>{{ topic.textArea }}</p>
            </div> 
        </div>
    </div>
</div>

<hr>

<div class="container" *ngFor="let replyResult of replyResults">
    <div class="row">
        <!-- COL ADD UP TO 12 -->
        <div id="aboutMe" class="col-sm-12">
            <h3>{{ replyResult.userName}}</h3>
        </div>
        <!-- <div class="col-sm-4" id="picOfMe">
            <p>Side Info (stretch goal)</p>
        </div> -->
        <div class="aboutSection col-sm-8">
            <div class="row-sm">
                <p>{{ replyResult.textArea }}</p>
                <hr>
            </div> 
        </div>
    </div>
</div>

<!-- <app-forum-post></app-forum-post> -->