<app-navbar></app-navbar>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Forum</li>
        <li class="breadcrumb-item">General Discussion</li>
        <li class="breadcrumb-item active" aria-current="page">Topics</li>
    </ol>
</nav>
    
<h1>Topic Name</h1>
<hr>
<nav aria-label="Page navigation example">
<ul class="pagination pg-blue">
    <li class="page-item"><a class="page-link" mdbWavesEffect>Previous</a></li>
    <li class="page-item"><a class="page-link" mdbWavesEffect>1</a></li>
    <li class="page-item"><a class="page-link" mdbWavesEffect>2</a></li>
    <li class="page-item"><a class="page-link" mdbWavesEffect>3</a></li>
    <li class="page-item"><a class="page-link" mdbWavesEffect>Next</a></li>
    
    <!-- Modal -->
    <button>New Reply</button>
</ul>
</nav>
    
<hr>

<div class="container" *ngFor="let topicResult of topicResults">
    <div class="row" *ngIf="topicResult.id == topicId">
        <!-- COL ADD UP TO 12 -->
        <div id="aboutMe" class="col-sm-12">
            <h3>{{ topicResult.userName }}</h3>
        </div>
        <!-- <div class="col-sm-4" id="picOfMe">
            <p>Side Info (stretch goal)</p>
        </div> -->
        <div class="aboutSection col-sm-8">
            <div class="row-sm">
                <p>{{ topicResult.textArea }}</p>
            </div> 
        </div>
    </div>
</div>

<hr>

<div class="container" *ngFor="let replyResult of replyResults">
    <div class="row">
        <!-- COL ADD UP TO 12 -->
        <div id="aboutMe" class="col-sm-12">
            <h3>{{ replyResult.userName}}</h3>
        </div>
        <!-- <div class="col-sm-4" id="picOfMe">
            <p>Side Info (stretch goal)</p>
        </div> -->
        <div class="aboutSection col-sm-8">
            <div class="row-sm">
                <p>{{ replyResult.textArea }}</p>
                <hr>
            </div> 
        </div>
    </div>
</div>

<!-- <app-forum-post></app-forum-post> -->